<% alarms.each do |alarm| %>
       <% alarm.notifications.each do |notification| %>
<% if notification.alert !=0 %>
          <tr class="success">
            <td><%= alarm.id %></td>
            <td><%= alarm.first_name %> <%= alarm.last_name %></td>
            <td><%= notification.zones %></td>
            <td><%= link_to 'Ver', [alarm,notification], class: 'btn btn-info btn-xl' %></td>
          </tr>
<% end %>                
        <% end %>      
<% end %>