<% alarms.each do |alarm| %>
          <tr class="success">
            <td><%= alarm.id %></td>
            <td><%= alarm.first_name %> <%= alarm.last_name %></td>
            <td><%= alarm.notifications.count %></td>
            <td><%= link_to 'Detalles', alarm, class: 'btn btn-success btn-xs' %></td>
            <td><%= link_to 'Editar', edit_alarm_path(alarm), class: 'btn btn-warning btn-xs' %></td>
            <td><%= link_to 'Notificaciones', alarm_notifications_path(alarm), class: 'btn btn-info btn-xs' %></td>
            <td><%= link_to 'Borrar', alarm, method: :delete, data: { confirm: 'Esta seguro?' } , class: 'btn btn-danger btn-xs',:remote => true %> </td>
          </tr>
<% end %>