<p id="notice"><%= notice %></p>

<h1 class="yellow_title"> Listado de Alarmas</h1>

  <table class="table  table-bordered table-hover ">
  <thead>
    <tr class="warning">
      <th>ID</th>
      <th>Nombre</th>
      <th>Notificaciones</th>
      <th></th>
      <th>Options</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

 <tbody id="alarmstbody">
    <%= render 'all_alarms_table', :alarms => @alarms %>
  </tbody>
</table>

</table>

<br>

<%= link_to 'Alertas', '/', class: 'btn btn-warning btn-lg'  %>
<%= link_to 'Nueva Alarma', new_alarm_path, class: 'btn btn-warning btn-lg'  %>