<p id="notice"><%= notice %></p>

<h1 class="yellow_title"> Listado de Alertas</h1>

  <table class="table  table-bordered table-hover ">
  <thead>
    <tr class="warning">
      <th>ID</th>
      <th>Nombre</th>
      <th>Alerta-zona</th>
      <th>Options</th>
    </tr>
  </thead>

 <tbody id="alarmstbody">
    <%= render 'alarms_table', :alarms => @alarms %>
  </tbody>
</table>

</table>

<br>

<%= link_to 'Nueva Alarma', new_alarm_path, class: 'btn btn-warning btn-lg'  %>

<%= link_to 'Todos los Usuarios', '/alarms/all', class: 'btn btn-warning btn-lg'  %>