<p id="notice"><%= notice %></p>
<h2>Detalles<h2>
<p>
  <strong>Nombre</strong>
  <%= @alarm.first_name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @alarm.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @alarm.email %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @alarm.address %>
</p>

<p>
  <strong>Key:</strong>
  <%= @alarm.key %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @alarm.phone %>
</p>

<h3>Notificaciones</h3>
  <table class="table table-striped">
<tr>
<th>IP</th>
<th>Zonas</th>
</tr>
<% for notification in @alarm.notifications %>
<tr>
<td><%= notification.ip %></td>
<td><%= notification.zones %></td>
</tr>
<% end %>
</table>

<%= link_to 'Edit', edit_alarm_path(@alarm) %> 
<%= link_to 'Notifications', alarm_notifications_path(@alarm) %> ||
<%= link_to 'Back', alarms_path %>
