<%= simple_form_for([@alarm, @notification]) do |f| %>
<% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <%= f.input :ip, :required => :true %>
  <%= f.input :zones, :required => :true %>
  <%= f.input :alert, :as => :boolean %>
  <%= f.button :submit %>
<% end -%>