<% notifications.each do |notification| %>
    <tr>
		<td><%= notification.alarm_id %></td>
		<td><%= notification.ip %></td>
		<td><%= notification.zones %></td>
		<td><%= notification.alert %></td>
		<td><%= link_to 'Mostrar', [@alarm, notification] %></td>
		<td><%= link_to 'Editar', edit_alarm_notification_path(@alarm, notification) %></td>
		<td><%= link_to 'Borrar', [@alarm, notification], :confirm => 'Esta seguro?',
		:method => :delete %></td>
	</tr>
<% end %>
