<h1>Notificaciones</h1>
<% if !@all_notifications.empty? %>
  <table class="table table-bordered">
		<tr>
			<th>ID</th>
			<th>IP</th>
			<th>zones</th>
			<th></th>
			<th>Opciones</th>
			<th></th>
		</tr>

		<% @all_notifications.each do |notification| %>
    <tr>
		<td><%= notification.alarm_id %></td>
		<td><%= notification.ip %></td>
		<td><%= notification.zones %></td>
		<td><%= link_to 'Inicio', '/' %></td>
		
	</tr>
<% end %>
	</table>

<br />

<% else %>
	<p> No hay Notificaciones.</p>
<% end %>




