<h1>Notificaciones de <%= @alarm.first_name %></h1>
<% if !@alarm.notifications.empty? %>
  <table class="table table-bordered">
		<tr>
			<th>ID</th>
			<th>IP</th>
			<th>zones</th>
			<th>alerta?</th>
			<th></th>
			<th>Options</th>
			<th></th>
		</tr>

		<tbody id="notificationstbody">
	    <%= render 'notifications_table', :notifications => @notifications %>
	  	</tbody>
	</table>

<br />

<% else %>
	<p><%= @alarm.first_name %> hasn't won any notifications yet.</p>
<% end %>

<p>
<a href="#" id="refresh">Refresh With Ajax</a>

	<%= link_to 'Nueva notificacion', new_alarm_notification_path(@alarm) %> |
	<%= link_to 'Volver', @alarm %>
</p>
