<p id="notice"><%= notice %></p>

<p>
  <strong>IP:</strong>
  <%= @notification.ip%>
</p>

<p>
  <strong>Zonas:</strong>
  <%= @notification.zones %>
</p>

<p>
  <strong>Alarma:</strong>
<%= @notification.alarm.first_name %> <%= @notification.alarm.last_name %>
</p>

<p>
  <strong>Alerta?:</strong>
  <%= @notification.alert %>
</p>

<p>
  <strong>Creada:</strong>
  <%= @notification.created_at %>
</p>

<p>
  <strong>Actualizada:</strong>
  <%= @notification.updated_at %>
</p>
<%= link_to 'Edit', edit_alarm_notification_path(@alarm, @notification) %> |
<%= link_to 'Back', alarm_notifications_path(@alarm) %>
