// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.yellow_title {
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 30px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: lightblue;
    color: gray;
  }
